<div class="wrapper--dasboard" id="wrapper--dasboard">
    <div class="addproduct__container">
        <div class="addproduct--wrapper" id="addproduct__id">
            <!--render here -->
        </div>
        <div class="wrapper--footer">
            <div class="footer">
                <span class="footer--content">© 2022 VnSolution. All rights reserved.</span>
                <div class="footer--wrapper--icon">
                    <img class="footet--icon" src="/src/icon/fb.svg" />
                    <img class="footet--icon" src="/src/icon/twitter.svg" />
                    <img class="footet--icon" src="/src/icon/github.svg" />

                </div>
            </div>
        </div>
    </div>
</div>