<div class="wrapper--dasboard" id="wrapper--dasboard">
    <div class="chart">
        <div class="chart--title">
            <span class="chart--title--content">Doanh Thu</span>
            <img class="chart--title--icon" src="/src/icon/warn.svg" />
        </div>
        <canvas id="myChart"></canvas>
        <!--render here -->
    </div>
    <div class="wrapper--table1--table2">
        <div class="table1">
            <div class="table1--title">Khách hàng mới</div>
            <div class="table--container--item" id="newCustomer">
                <!--render here -->
            </div>
        </div>
        <div class="table2">
            <div class="table2--title">Sản phẩm bán chạy </div>
            <div class="table2--wrapper--item">
                <!--render here -->
            </div>
        </div>
    </div>
    <div class="table3">
        <div class="table3--title">
            <span class="table3--title--content">Đơn hàng gần đây</span>
            <span class="table3--title--des">Danh sách 6 đơn hàng gần nhất</span>
        </div>
        <div class="table3--des">
            <span class="table3--des--title cusomer">KHÁCH HÀNG</span>
            <span class="table3--des--title time">THỜI GIAN</span>
            <span class="table3--des--title total">THÀNH TIỀN</span>
            <span class="table3--des--title status">TRẠNG THÁI</span>
        </div>
        <div class="table3--wrapper--item">
            <!--render here -->
        </div>
    </div>
    <div class="wrapper--footer">
        <div class="footer">
            <span class="footer--content"> All rights reserved.</span>
            <div class="footer--wrapper--icon">
                <img class="footet--icon" src="/src/icon/fb.svg" />
                <img class="footet--icon" src="/src/icon/twitter.svg" />
                <img class="footet--icon" src="/src/icon/github.svg" />

            </div>
        </div>
    </div>
</div>