<div class="editproduct--wrapper popup--edit--${item.id}">
    <div class="editproduct--header">
        <span class="editproduct--header--title">Cập nhật sản phẩm
        </span>
        <div class="editproduct--action">
            <a onclick="editProductJson()" class="editproduct--save">Lưu lại</a>
            <a onclick="hidePopupDeleteProduct()" class="editproduct--back">Quay lại</a>
        </div>
    </div>
    <div class="wrapper--gribsytem">
        <div class="editproduct--content">
            <div class="editproduct--name">
                <input class="editproduct--input--name" placeholder="Sản phẩm" />
                <span class="editproduct--name--after ">Tên sản phẩm</span>
            </div>
            <div class="editproduct--number"> <input placeholder="cái" class="editproduct--input--number" /><span
                    class="editproduct--number--after">Số lượng</span></div>
            <div class="editproduct--group">
                <select class="editproduct--input--group">
                    <option value="" disabled selected hidden>Loại SP</option>
                    <option>chuột </option>
                    <option>bàn phím</option>
                    <option>ghế công thái học</option>
                    <option>hub</option>
                </select>

            </div>
            <div class="editproduct--status">
                <select class="editproduct--input--status">
                    <option value="" disabled selected hidden> Trạng thái</option>
                    <option>Còn hàng </option>
                    <option>Đã hết</option>
                </select>
            </div>
            <div class="editproduct--date"> <input type="date" class="editproduct--input--date" /><span
                    class="editproduct--number--date">Ngày tạo </span></div>
            <div class="editproduct--price"> <input placeholder="VND" class="editproduct--input--price" /><span
                    class="editproduct--number--price">Giá bán</span></div>
        </div>
    </div>
</div>