<div class="wrapper--dasboard" id="wrapper--dasboard">

    <div class="wrapper--product">
        <div class="table--product--header">
            <span class="table--product--title">Danh sách sản phẩm
            </span>
            <div class="table--product--action">
                <div class="product--search--wrapper"><input class="product--search--input"
                        placeholder="Tìm kiếm... " />
                    <div><img class="search--icon" src="/src/icon/search.svg" /></div>
                </div>
                <div class="wrapper--action--left">
                    <a href="/#add" class="product--button--add">Thêm mới</a>
                    <div class="table--product--filter"> <a href="/#product" class="product--button--filter">Ẩn bộ
                            lọc</a></div>
                </div>
            </div>
            <div class="filter--wrapper" id="filter__id">
                <div class="wrapper--gribsytem--filter">
                    <div class="filter--content">
                        <div class="filter--name">

                            <input class="filter--input--name filter__value" id="filter__name" placeholder="Sản phẩm">

                            </input>
                        </div>
                        <div class="filter--number"> <input id="filter__number" placeholder="cái"
                                class="filter--input--number filter__value" /><span class="filter--number--after">Số
                                lượng</span></div>
                        <div class="filter--group">
                            <select id="filter__group" class="filter--input--group filter__value">
                                <option value="">Loại SP</option>
                                <option>chuột </option>
                                <option>bàn phím</option>
                                <option>ghế công thái học</option>
                                <option>hub</option>
                            </select>

                        </div>
                        <div class="filter--status">
                            <select id="filter__status" class="filter--input--status filter__value">
                                <option value=""> Trạng thái</option>
                                <option>Còn hàng </option>
                                <option>Hết hàng</option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table--product" id="table--product">
            <div class="product--header--wrapper">
                <div class="product--header--content">
                    <span class="product--header--title">SẢN PHẨM</span>
                    <span class="product--header--title">LOẠI</span>
                    <span class="product--header--title">NGÀY TẠO</span>
                    <span class="product--header--title">SỐ LƯỢNG</span>
                    <span class="product--header--title">GIÁ BÁN</span>
                    <span class="product--header--title">TRẠNG THÁI</span>
                    <span class="product--header--title">CHỨC NĂNG</span>
                </div>
            </div>
            <div class="product--wrapper--item" id="product--filter__id">
                <!-- render from product.js -->
            </div>
            <div class="wrapper--paging">
                <span class="paging--text">Số bản ghi</span>
                <div class="paging--short">

                    <select aria-label="State" class="paging--short--number">
                        <option value="10" selected>10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>

                </div>
                <div class="paging--count" id="countpage">1-10 of 20</div>
                <div class="paging--action">
                    <img class="paging--action--icon product--prePage" src="/src/icon/left.svg" />
                    <img class="paging--action--icon product--nextPage" src="/src/icon/right.svg" />
                </div>
            </div>

        </div>

    </div>
    <div class="wrapper--footer">
        <div class="footer">
            <span class="footer--content">© 2022 VnSolution. All rights reserved.</span>
            <div class="footer--wrapper--icon">
                <img class="footet--icon" src="/src/icon/fb.svg" />
                <img class="footet--icon" src="/src/icon/twitter.svg" />
                <img class="footet--icon" src="/src/icon/github.svg" />

            </div>
        </div>
    </div>

</div>