<div class="wrapper--dasboard" id="wrapper--dasboard">
    <div class="wrapper--product">
        <div class="table--product--header">
            <span class="table--product--title">Danh sách sản phẩm
            </span>
            <div class="table--product--action">
                <div class="product--search--wrapper"><input class="product--search--input"
                        placeholder="Tìm kiếm... " />
                    <div><img class="search--icon" src="/src/icon/search.svg" /></div>
                </div>
                <div class="wrapper--action--left">
                    <a href="/#add" class="product--button--add">Thêm mới</a>
                    <div class="table--product--filter"> <a href="/#filter" class="product--button--filter">Bộ lọc</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="table--product" id="table--product">
            <div class="product--header--wrapper">
                <div class="product--header--content">
                    <span class="product--header--title">SẢN PHẨM</span>
                    <span class="product--header--title">LOẠI</span>
                    <span class="product--header--title">NGÀY TẠO</span>
                    <span class="product--header--title">SỐ LƯỢNG</span>
                    <span class="product--header--title">GIÁ BÁN</span>
                    <span class="product--header--title">TRẠNG THÁI</span>
                    <span class="product--header--title">CHỨC NĂNG</span>
                </div>
            </div>
            <div class="product--wrapper--item" id="product__id">
                <!-- render from product.js -->

            </div>
            <div class="wrapper--paging">
                <span class="paging--text">Số bản ghi</span>
                <div class="paging--short">

                    <select aria-label="State" class="paging--short--number">
                        <option value="10" selected>10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>

                </div>
                <div class="paging--count" id="countpage">1-10 of 20</div>
                <div class="paging--action">
                    <img class="paging--action--icon product--prePage" src="/src/icon/left.svg" />
                    <img class="paging--action--icon product--nextPage" src="/src/icon/right.svg" />
                </div>
            </div>


        </div>

    </div>
    <div class="wrapper--footer">
        <div class="footer">
            <span class="footer--content">All rights reserved.</span>
            <div class="footer--wrapper--icon">
                <img class="footet--icon" src="/src/icon/fb.svg" />
                <img class="footet--icon" src="/src/icon/twitter.svg" />
                <img class="footet--icon" src="/src/icon/github.svg" />

            </div>
        </div>
    </div>


</div>