<div class="addproduct--header">
    <span class="addproduct--header--title">Thêm mới sản phẩm
    </span>
    <div class="addproduct--action">
        <a href="/#product" class="addproduct--save" id="create--product">Lưu lại</a>
        <a href="/#product" class="addproduct--back" id="back--addproduct">Quay lại</a>
    </div>
</div>
<div class="wrapper--gribsytem" id="from-1">
    <div class="addproduct--content" id="from-1">
        <div class="addproduct--name" class="form-group">
            <input class="addproduct--input--name" placeholder=" Tên sản phẩm" id="addproduct__name" />
        </div>
        <div class="addproduct--number form-group"> <input placeholder="cái" class="addproduct--input--number"
                id="addproduct__number" /><span class="addproduct--number--after">Số lượng</span></div>
        <div class="addproduct--group form-group">
            <select class="addproduct--input--group" id="addproduct__group">
                <option value="Mới tạo" disabled selected hidden>Loại SP</option>
                <option>Chuột </option>
                <option>Bàn phím</option>
                <option>Ghế công thái học</option>
                <option>Hub</option>
                <option>Mới tạo</option>
            </select>
        </div>
        <div class="addproduct--status ">
            <select class="addproduct--input--status" id="addproduct__status">
                <option value="" disabled selected hidden> Trạng thái</option>
                <option>Còn hàng </option>
                <option>Đã hết</option>
            </select>
        </div>
        <div class="addproduct--date "> <input type="date" class="addproduct--input--date" /><span
                class="addproduct--number--date" id="addproduct__date">Ngày tạo </span></div>
        <div class="addproduct--price"> <input placeholder="VND" class="addproduct--input--price"
                id="addproduct__price" /><span class="addproduct--number--price">Giá bán</span></div>
    </div>
</div>