@charset "UTF-8";
/*graycool  */
/* red */
/* green */
/* blue */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.green--status {
  color: #03543f;
  background-color: #def7ec;
}

.red--status {
  color: #9b1c1c;
  background-color: #fde8e8;
}

.blue--status {
  color: #1e429f;
  background-color: #e1effe;
}

.gray--status {
  color: #1f2937;
  background-color: #f3f4f6;
}

a {
  text-decoration: none;
}

.active {
  color: #1c64f2 !important;
}

@media only screen and (max-width: 576px) {
  .main {
    min-width: 360px;
  }
}
.wrapper--footer {
  padding: 0px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 1317px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
}

.footer--content {
  width: 295px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-left: 16px;
  color: #6b7280;
}

.footer--wrapper--icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  margin-right: 16px;
}

.footet--icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .wrapper--footer {
    width: calc(100vw - 78px);
    left: 64px;
  }
}
.header {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  width: 100%;
  max-width: 1600px;
  height: 69px;
  align-self: stretch;
  box-sizing: border-box;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: solid 1px #e5e7eb;
  z-index: 111;
}

.header--title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 469px;
  height: 36px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 36px;
}

.header--action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 0px 0px 16px;
  gap: 12px;
  width: 1091px;
  height: 32px;
}

.header--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border-radius: 16px;
}

.header--icon--content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border-radius: 16px;
}

.header--img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  width: 32px;
  height: 32px;
  background: url(profile-picture-4);
  border-radius: 16px;
}

.header--img--content {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.header--title--side {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header--title--side {
    display: none;
  }
}
@media only screen and (max-width: 786px) {
  .header--title--side {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .header--title--side {
    display: block;
  }
  .header--title {
    display: none;
  }
}
.wrapper--sidebar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  width: 250px;
  padding: 0px;
  width: 250px;
  background: #ffffff;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.sidebar--content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.sidebar--title {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 12px 20px 20px;
  gap: 22px;
  height: 64px;
  border-bottom: solid 1px #e5e7eb;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: #111827;
}

.sidebar--title---icon {
  width: 18px;
  height: 18px;
}

.sidebar--title--content {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.sidebar--item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 20px;
  width: 100%;
  gap: 22px;
  height: 116px;
  margin-top: 22px;
}

.sidebar--item--wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 210px;
  height: 24px;
  cursor: pointer;
  text-decoration: none;
  color: #111827;
}

.sidebar--item--icon {
  height: 24px;
  width: 24px;
}

.sidebar--item--icon::before {
  height: 24px;
  width: 24px;
}

.sidebar--footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  gap: 22px;
  width: 250px;
  flex: 1;
}

.sidebar--footer--button {
  width: 250px;
  height: 32px;
  background: #1e429f;
  color: #e1effe;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .wrapper--sidebar {
    width: 48px;
  }
  .sidebar--item {
    margin: 0px;
    padding: 0px;
    align-items: center;
  }
  .sidebar--item--wrapper {
    width: 48px;
    align-items: center;
    justify-content: center;
  }
  .sidebar--title {
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-top: 16px;
  }
  .sidebar--title--content {
    display: none;
  }
  .sidebar--footer {
    width: 48px;
  }
  .sidebar--footer--button {
    display: none;
  }
  .sidebar--item--text {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .wrapper--sidebar {
    display: none;
  }
}
.container {
  display: flex;
  margin-top: 70px;
  background-color: #f9fafb;
  max-width: 1600px;
}

#main--page {
  flex: 1;
}

.wrapper--dasboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 16px;
  gap: 16px;
}

.wrapper--table1--table2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  max-width: 1317px;
  width: 100%;
  height: 448px;
}

@media only screen and (max-width: 1024px) {
  .wrapper--dasboard {
    width: calc(100vw - 78px);
    left: 48px;
  }
  .wrapper--table1--table2 {
    width: calc(100vw - 78px);
  }
}
@media only screen and (max-width: 768px) {
  .wrapper--table1--table2 {
    flex-direction: row;
    height: 448px;
  }
}
@media only screen and (max-width: 576px) {
  .wrapper--dasboard {
    width: 100vw;
    height: 2101px;
    left: 0;
    padding: 16px;
  }
  .wrapper--table1--table2 {
    display: block;
    box-sizing: border-box;
    flex-direction: column;
    height: 862px;
    width: 100%;
    left: 0;
  }
}
.wrapper--loader {
  position: absolute;
  max-width: 1349px;
  width: calc(100vw - 251px);
  height: 100%;
  left: 250px;
  top: 70px;
  background-color: #f3faf7;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loading {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 16px;
  max-width: 1317px;
  width: 100%;
  height: 570.85px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding-bottom: 48px;
}

#myChart {
  width: 100%;
  height: 90%;
  margin-bottom: 16px;
}

.chart--title {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-bottom: 16px;
  gap: 10px;
}

.chart--title--content {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #111827;
}

.chart--title--icon {
  height: 18px;
  width: 18px;
  cursor: pointer;
}

#chartjs-tooltip {
  background-color: #f9fafb;
  box-sizing: border-box;
  max-width: 194px;
  width: 20vw;
  height: 80px;
  padding: 8px;
  min-width: 194px;
  border-radius: 16px;
}

.tooltip--title {
  display: flex;
  justify-self: start;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #4b5563;
  margin-left: 16px;
}

.tooltip--title:after {
  content: "";
  background-color: #f9fafb;
  height: 32px;
  width: 18px;
  border-radius: 5px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

.tooltip--body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip--body--icon {
  width: 12px;
  height: 10px;
  border-radius: 6px;
  background-color: #057a55;
  margin-left: 16px;
  margin-right: 8px;
}

.tooltip--body--tilte {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.tooltip--body--value {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.table1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 24px;
  max-width: 380.33px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 28.8%;
}

.table1--title {
  width: calc(100% - 48px);
  max-width: 380.33px;
  max-height: 430px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.table1--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9px 0px;
  width: 100%;
  height: 100%;
  gap: 16px;
  border-bottom: solid 1px #e5e7eb;
}

.table--container--item {
  width: 100%;
}

.table1--item--img {
  width: 32px;
  height: 32px;
}

.table1--item-info {
  display: flex;
  flex-direction: column;
}

.table1--info--name {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: #111827;
}

.table1--info--email {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: #6b7280;
}

.table2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 24px;
  max-width: 920.67px;
  width: 69.8%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.table2--title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  gap: 10px;
}

.table2--wrapper--item {
  width: 100%;
}

.table2--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #e5e7eb;
  padding: 9px 0 9px 0;
}

.table2--item--name {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #111827;
}

.table2--item--id {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #6b7280;
}

.table2--item--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table2--item--number {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #111827;
  margin-right: 6px;
}

.table2--item--des {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4b5563;
}

.table3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  max-width: 1317px;
}

.table3--title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 16px;
}

.table3--title--content {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #111827;
}

.table3--title--des {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6b7280;
}

.table3--des {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #f9fafb;
}

.table3--des--title {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: #4b5563;
  padding: 16px;
  width: 25%;
}

.table3--wrapper--item {
  width: 100%;
}

.table3--item {
  height: 54px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.table--item--bold {
  background-color: #f9fafb;
}

.table3--item--name {
  width: 25%;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #111827;
  padding: 16px;
}

.table3--item--date {
  width: 25%;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #6b7280;
  padding: 16px;
}

.table3--item--number {
  width: 25%;
  font-size: 16;
  font-weight: 500;
  line-height: 24px;
  color: #111827;
  padding: 16px;
}

.table3--item--status {
  width: 25%;
  padding: 16px;
}

.table3--item--des {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  width: 100%;
  padding: 4px 8px 4px 8px;
  border-radius: 12px;
}

.table2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 24px;
  max-width: 920.67px;
  max-height: 448px;
  width: 69.8%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.table2--title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  gap: 10px;
}

.table2--wrapper--item {
  width: 100%;
}

.table2--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #e5e7eb;
  padding: 9px 0 9px 0;
}

.table2--item--name {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #111827;
}

.table2--item--id {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #6b7280;
}

.table2--item--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.table2--item--number {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #111827;
  margin-right: 6px;
}

.table2--item--des {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #4b5563;
}

@media only screen and (max-width: 1024px) {
  .chart {
    width: calc(100vw - 78px);
  }
  .table2 {
    width: 57%;
  }
  .table3 {
    width: calc(100vw - 78px);
  }
  .table2 {
    width: 57%;
  }
  .table1 {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .table2 {
    width: 55%;
  }
  .table1 {
    width: 42%;
  }
}
@media only screen and (max-width: 576px) {
  .chart {
    box-sizing: border-box;
    width: calc(100vw - 32px);
    padding: 8px;
    height: 474px;
  }
  #myChart {
    padding-bottom: 32px;
  }
  .table1 {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    max-width: 100%;
  }
  .table2 {
    width: 100%;
  }
  .table3 {
    width: 100%;
    padding: 16px;
    margin-top: 32px;
  }
  .table3--item--name {
    width: 60%;
  }
  .table3--item--date {
    width: 40%;
  }
  .table3--item--number {
    display: none;
  }
  .table3--item--status {
    display: none;
  }
  .table3--des {
    justify-content: space-between;
  }
  .status {
    display: none;
  }
  .total {
    display: none;
  }
  .cusomer {
    width: 66%;
  }
  .time {
    width: 33%;
  }
  .table2 {
    width: 100%;
  }
  .wrapper--footer {
    height: 176px;
    width: calc(100vw - 32px);
    left: 16px;
  }
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px 32px 32px 32px;
  }
  .footer--content {
    width: 100%;
    height: 176px;
    margin: 16px 0px 0px 0px;
  }
  .footet--icon {
    height: 14px;
    width: 14px;
  }
  .footer--wrapper--icon {
    margin-top: 32px;
  }
}
.wrapper--product {
  display: flex;
  width: 100%;
  max-width: 1317px;
  min-height: 799px;
  box-sizing: border-box;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  margin-top: -16px;
  border-radius: 16px;
  padding: 16px;
  position: relative;
}

.table--product {
  width: 100%;
  min-height: 591px;
  margin-bottom: 32px;
}

.table--product--header {
  width: 100%;
  margin-top: 32px;
}

.table--product--title {
  font-weight: 600;
  font-size: 20px;
  margin: 31px 16px 16px 16px;
}

.table--product--action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product--search--wrapper {
  height: 40px;
  width: 367px;
  position: relative;
  margin-top: 16px;
  border-radius: 4px;
  border: solid 1px #e5e7eb;
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.product--search--input {
  width: 80%;
  height: 80%;
  border: none;
  outline: none;
  padding-left: 8px;
}

.search--icon {
  height: 36px;
  width: 36px;
  position: absolute;
  right: 1px;
  top: 1px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  padding: 8px;
}
.search--icon:active {
  background-color: #f9fafb;
}

.table--product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
}

.product--header--wrapper {
  width: 100%;
  border-bottom: solid 1px #e5e7eb;
}

.product--header--content {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #f9fafb;
}

.product--header--title {
  font-size: 12px;
  font-weight: 600px;
  line-height: 18px;
  width: 14.2%;
  text-align: start;
  padding: 16px;
}

.product--wrapper--item {
  width: 100%;
}

.product--item {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}

.product--item--content {
  width: 14.2%;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #111827;
  text-align: start;
  padding: 16px;
  height: 54px;
  display: flex;
  align-items: center;
}

.product--item--time {
  width: 14.2%;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #6b7280;
  text-align: start;
  padding: 16px;
  height: 54px;
}

.wrapper--action--left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.product--button--add {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  background-color: #1c64f2;
  color: #ffffff;
  border-radius: 8px;
  width: 102px;
  height: 39px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product--button--filter {
  width: 42px;
  height: 21px;
  background-color: #ffffff;
  color: #1c64f2;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin: 8px;
  cursor: pointer;
  text-decoration: none;
}

.container--icon--product {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product--icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-left: 12px;
  display: block;
}

.product--item--status {
  width: 72px;
  height: 22px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 400px;
  line-height: 22px;
  text-align: center;
}

.wrapper--paging {
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.paging--text {
  width: 61px;
  height: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #6b7280;
}

.paging--short {
  width: 14px;
  height: 19px;
  right: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  display: flex;
  align-items: center;
}

.paging--short--number {
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}

.paging--short--icon {
  margin-left: 8px;
  color: #6b7280;
  cursor: pointer;
}

.paging--count {
  width: 76px;
  height: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
  color: #111827;
  margin-left: 16px;
}

.paging--action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.paging--action--icon {
  padding: 10px;
  width: 100%;
  margin-left: 16px;
  cursor: pointer;
  transition: background 0.4s linear;
}
.paging--action--icon:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.addproduct--wrapper {
  height: 372px;
  width: 95%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  margin: 16px;
}

.addproduct--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
}

.addproduct--header--title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.addproduct--action {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addproduct--save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 39px;
  margin-right: 16px;
  background-color: #3f83f8;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 8px;
  cursor: pointer;
}

.addproduct--back {
  width: 89px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #374151;
  cursor: pointer;
}

.wrapper--gribsytem {
  box-sizing: border-box;
  padding: 32px, 24px, 32px, 24px;
}

.addproduct--content {
  display: grid;
  margin-top: 16px;
  grid-template-columns: 46% 46%;
  grid-template-rows: 56px 56px 56px;
  height: 280px;
  grid-gap: 42px;
}

.addproduct--name {
  position: relative;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.addproduct--group {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.addproduct--date {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
  position: relative;
}

.addproduct--number--date {
  content: "Giá bán";
  background-color: #ffffff;
  height: 12px;
  width: 52px;
  border-radius: 2px;
  position: absolute;
  top: -6px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #6b7280;
}

.addproduct--number {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.addproduct--number--after {
  content: "Ngày tạo";
  background-color: #ffffff;
  height: 12px;
  width: 52px;
  border-radius: 2px;
  position: absolute;
  top: -6px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #6b7280;
}

.addproduct--status {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.addproduct--price {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
  position: relative;
}

.addproduct--number--price {
  content: "Giá bán";
  background-color: #ffffff;
  height: 12px;
  width: 52px;
  border-radius: 2px;
  position: absolute;
  top: -6px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #6b7280;
}

.addproduct--input--name {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
}

.addproduct--input--group {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
}

.addproduct--input--date {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
  cursor: pointer;
}

.addproduct--input--number {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
}

.addproduct--input--status {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
}

.addproduct--input--price {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
}

.wrapper--edit {
  display: none;
  width: calc(100% - 250px);
  max-width: 1350px;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #f9fafb;
  margin-top: -16px;
  border-radius: 16px;
  position: fixed;
  left: 250px;
  top: 70px;
}

.editproduct--wrapper {
  height: 372px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  margin: 16px;
  width: 98%;
}

.editproduct--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
}

.editproduct--header--title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.editproduct--action {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editproduct--save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 39px;
  margin-right: 16px;
  background-color: #3f83f8;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border-radius: 8px;
  cursor: pointer;
}

.editproduct--back {
  width: 89px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #374151;
  cursor: pointer;
}

.wrapper--gribsytem {
  box-sizing: border-box;
  padding: 32px, 24px, 32px, 24px;
}

.editproduct--content {
  display: grid;
  margin-top: 16px;
  grid-template-columns: 46% 46%;
  grid-template-rows: 56px 56px 56px;
  height: 280px;
  grid-gap: 42px;
}

.editproduct--name {
  position: relative;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.editproduct--name--after {
  background-color: #ffffff;
  height: 12px;
  width: 86px;
  border-radius: 2px;
  position: absolute;
  top: -6px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #6b7280;
}

.editproduct--group {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
  position: relative;
}

.editproduct--group--after {
  background-color: #ffffff;
  height: 12px;
  width: 56px;
  border-radius: 2px;
  position: absolute;
  top: -6px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #6b7280;
}

.editproduct--date {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
  position: relative;
}

.editproduct--number--date {
  content: "Giá bán";
  background-color: #ffffff;
  height: 12px;
  width: 52px;
  border-radius: 2px;
  position: absolute;
  top: -6px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #6b7280;
}

.editproduct--number {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.editproduct--number--after {
  content: "Ngày tạo";
  background-color: #ffffff;
  height: 12px;
  width: 52px;
  border-radius: 2px;
  position: absolute;
  top: -6px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #6b7280;
}

.editproduct--status {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
  position: relative;
}

#input__edit__status {
  width: 100%;
}

.editproduct--status--after {
  background-color: #ffffff;
  height: 12px;
  width: 68px;
  border-radius: 2px;
  position: absolute;
  top: -6px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #6b7280;
}

.editproduct--price {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
  position: relative;
}

.editproduct--number--price {
  content: "Giá bán";
  background-color: #ffffff;
  height: 12px;
  width: 52px;
  border-radius: 2px;
  position: absolute;
  top: -6px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #6b7280;
}

.editproduct--input--name {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
}

.editproduct--input--group {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
  color: #3f83f8;
}

.editproduct--input--date {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
  cursor: pointer;
}

.editproduct--input--number {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
}

.editproduct--input--status {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
  color: #3f83f8;
}

.editproduct--input--price {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
}

.filter--wrapper {
  height: 200px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  margin: 16px;
}

.wrapper--gribsytem {
  box-sizing: border-box;
  padding: 32px, 24px, 32px, 24px;
}

.filter--content {
  display: grid;
  margin-top: 16px;
  grid-template-columns: 46% 46%;
  grid-template-rows: 56px 56px;
  height: 200px;
  grid-gap: 42px;
}

.filter--name {
  position: relative;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.filter--group {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.filter--date {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
  position: relative;
}

.filter--number--date {
  content: "Giá bán";
  background-color: #ffffff;
  height: 12px;
  width: 52px;
  border-radius: 2px;
  position: absolute;
  top: -6px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #6b7280;
}

.filter--number {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.filter--number--after {
  content: "Ngày tạo";
  background-color: #ffffff;
  height: 12px;
  width: 52px;
  border-radius: 2px;
  position: absolute;
  top: -6px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #6b7280;
}

.filter--status {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.filter--price {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  display: flex;
  align-items: center;
  padding-left: 16px;
  position: relative;
}

.filter--number--price {
  content: "Giá bán";
  background-color: #ffffff;
  height: 12px;
  width: 52px;
  border-radius: 2px;
  position: absolute;
  top: -6px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #6b7280;
}

.filter--input--name {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
}

.filter--input--group {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
  color: #3f83f8;
}

.filter--input--date {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
  cursor: pointer;
}

.filter--input--number {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
}

.filter--input--status {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
  color: #3f83f8;
}

.filter--input--price {
  border: none;
  height: 24px;
  padding-left: 8px;
  width: 96%;
  outline: none;
}

.popup--delete {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 113;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  display: none;
}

.dlproduct--wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 250px;
  width: 50vw;
  height: 140px;
  align-items: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: #f9fafb;
}

.dlproduct--wrapper--button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.content--delete {
  padding: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #4b5563;
  margin-bottom: 32px;
  width: 100%;
}

.dlproduct--button--back {
  box-sizing: border-box;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  background-color: #1c64f2;
  color: #ffffff;
  border-radius: 8px;
  width: 102px;
  height: 39px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dlproduct--button--delete {
  box-sizing: border-box;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  background-color: #f05252;
  color: #ffffff;
  border-radius: 8px;
  width: 102px;
  height: 39px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addproduct--name--warning {
  font-size: 12px;
  color: #e02424;
  position: absolute;
  bottom: -24px;
  left: 16px;
  display: none;
}

.wrapper--footer--edit {
  padding: 0px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 1317px;
  margin-left: 16px;
  margin-bottom: 86px;
}

.error--page {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 112;
  flex: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f9fafb;
}

.img--404 {
  width: 588px;
  height: 369px;
  margin-bottom: 48px;
}

.title--404 {
  font-size: 48px;
  font-weight: 700;
  line-height: 62.4px;
  margin-bottom: 16px;
}

.des--404 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.wrapper--button--404 {
  width: 102px;
  height: 39px;
  border-radius: 8px;
  background-color: #0e9f6e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back--404 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #0e9f6e;
  border: none;
  cursor: pointer;
  width: 100%;
}

.back--button--404 {
  text-decoration: none;
  color: #ffffff;
  display: block;
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
