.table1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 24px;
    gap: 16px;
    width: 380.33px;
    height: 430px;

    background: $white;
    box-shadow: $boxshadowcolor;
    border-radius: 16px;
}
