/*graycool  */
$gray900: #111827;
$gray800: #1f2937;
$gray700: #374151;
$gray600: #4b5563;
$gray500: #6b7280;
$gray400: #9ca3af;
$gray300: #d1d5db;
$gray200: #e5e7eb;
$gray100: #f3f4f6;
$gray050: #f9fafb;
/* red */
$red900: #771d1d;
$red800: #9b1c1c;
$red700: #c81e1e;
$red600: #e02424;
$red500: #f05252;
$red400: #f98080;
$red300: #f8b4b4;
$red200: #fbd5d5;
$red100: #fde8e8;
$red50: #fdf2f2;
/* green */
$green900: #014737;
$green800: #03543f;
$green700: #046c4e;
$green600: #057a55;
$green500: #0e9f6e;
$green400: #31c48d;
$green300: #84e1bc;
$green200: #bcf0da;
$green100: #def7ec;
$green50: #f3faf7;
/* blue */
$blue900: #233876;
$blue800: #1e429f;
$blue700: #1a56db;
$blue600: #1c64f2;
$blue500: #3f83f8;
$blue400: #76a9fa;
$blue300: #a4cafe;
$blue200: #c3ddfd;
$blue100: #e1effe;
$blue50: #ebf5ff;

$white: #ffffff;
$boxshadowcolor: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
$fontfamily: 'Inter';

body {
    margin: 0;
}

.main {
    position: relative;
    width: 1600px;
    height: 1760px;
    background: $gray050;
    font-family: $fontfamily;
}
