.table3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 16px;
    max-width: 1317px;
    width: $default-width-wrapper-table;
    height: 473px;
    background: $white;
    box-shadow: $boxshadowcolor;
    border-radius: 16px;
}
.table3--title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 16px;
}
.table3--title--content {
    @include fontL;
    color: $gray900;
}
.table3--title--des {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $gray500;
}

.table3--des {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: $gray050;
}

.table3--des--title {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: $gray600;
    padding: 16px;
    width: 25%;
}
.table3--wrapper--item {
    width: 100%;
}
.table3--item {
    height: 54px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.table--item--bold {
    background-color: $gray050;
}
.table3--item--name {
    width: 25%;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: $gray900;
    padding: 16px;
}
.table3--item--date {
    width: 25%;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $gray500;
    padding: 16px;
}
.table3--item--number {
    width: 25%;
    font-size: 16;
    font-weight: 500;
    line-height: 24px;
    color: $gray900;
    padding: 16px;
}
.table3--item--status {
    width: 25%;
    padding: 16px;
}
.table3--item--des {
    @include fontS;
    line-height: 150%;
    width: 100%;
    padding: 4px 8px 4px 8px;
    border-radius: 12px;
}
.green--status {
    color: $green800;
    background-color: $green100;
}
.red--status {
    color: $red800;
    background-color: $red100;
}
.blue--status {
    color: $blue800;
    background-color: $blue100;
}
.gray--status {
    color: $gray800;
    background-color: $gray100;
}
//responsive the web
@media only screen and (max-width: 1024px) {
    .table3 {
        width: $default-width-wrapper-table-tablet;
    }
}
@media only screen and (max-width: 576px) {
    .table3 {
        width: 100%;
        padding: $default-padding-moblie;
        margin-top: $default-margin-bottom-moblie;
    }
    .table3--item--name {
        width: 60%;
    }
    .table3--item--date {
        width: 40%;
    }
    .table3--item--number {
        display: none;
    }
    .table3--item--status {
        display: none;
    }
    .table3--des {
        justify-content: space-between;
    }

    .status {
        display: none;
    }
    .total {
        display: none;
    }
    .cusomer {
        width: 66%;
    }
    .time {
        width: 33%;
    }
}
